*{
    max-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #f1f1f1;
    position: relative;
}
aside{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 10;
    background-color: rgb(3, 3, 44);
    padding: 10px;
    border-radius: 8px;
}
aside a{
    display: inline-block;
    color: #fff;
    transition: transform 400ms;
}
aside a:hover{
    transform: scale(1.2);
}
h1,h2,h3,h4,h5,h6{
    color: rgb(3, 3, 44);
    font-family: "Merriweather", 'Times New Roman', Times, serif;
    font-weight: 400;
}
h1::first-letter{
    font-size: 50px;
}
h2{
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 1.1;
}
h3{
    margin-bottom: 20px;
    font-size: 1.875em;
}
h4{
    margin-bottom: 20px;
    font-size: 1.25em;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}
img{
    width: 100%;
    object-fit: cover;
}
span.point{
    color: rgb(14, 14, 109);;
}
.rouge-bordeau{
    color: #ed651d;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
#section-pratique-medical{
    padding: 100px 50px;
}
/* 
    Entete du site
*/
header{
    background-color: #fff;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 2px 0 1px #000;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header #nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}
header #nav-bar button{
    border: none;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
header #nav-bar a,
header #nav-bar button{
    display: inline-block;
    color: rgb(3, 3, 44);
    padding: 25px 30px;
    border-bottom: 3px solid #fff;
}
header #nav-bar a:hover,
header #nav-bar button:hover{
    border-bottom: 3px solid rgb(3, 3, 44);
}
header #nav-bar a:hover{
    color: rgb(23, 23, 109);
}
header .content-sousnav{
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    background-color: #fff;
    display: none;
}
header #nav-bar #over-content-sousnav:hover .content-sousnav{
    display: flex;
    justify-content: space-evenly;
}
header #nav-bar .content-sousnav a{
    display: block;
    padding: 10px;
}
header #nav-bar .content-sousnav a:hover{
    background-color: rgb(13, 13, 63);
    color: white;
}
header .reserver,
#section-accueil .reserver{
    background-color: rgb(13, 13, 63);
    color: #fff;
    padding: 10px 20px;
    font-weight: 300;
    border-radius: 5px;
}
header .reserver:hover,
#section-accueil .reserver:hover{
    background-color: rgb(23, 23, 109);
}

/* 
    Section accueil
*/
#section-accueil{
    height: auto;
    padding: 100px 50px;
    background-image: url(images/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#section-accueil div.div-principal{
    width: 60%;
    line-height: 1.6;
}
#section-accueil .buttons-sectionaccueil{
    margin-top: 30px;
}
#section-accueil .reserver,
#section-accueil .contact{
    padding: 15px;
    text-transform: capitalize;
    border-radius: 3px;
    width: 100%;
}
#section-accueil .contact{
    border: 2px solid rgb(13, 13, 63);
    color: rgb(13, 13, 63);
    margin-left: 20px;
    padding: 13px;
}
#section-accueil .contact:hover{
    background-color: rgb(23, 23, 109);
    border:2px solid rgb(41, 41, 156);
    color: white;
}

/* 
    Section examen de controle
*/
#section-examen-controle{
    padding: 100px 0;
    background-color: #fff;
}
div.container-principal-examens{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    gap: 20px;
    
}
#section-examen-controle div.examen-controle-fond{
    background-image: url(images/doctor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#conteneur-examens
{
    margin-top: 20px;
}
.grille-examens{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: flex-start;
    gap: 10px;
}
.grille-examens div{
    line-height: 1.5;
}

/* Section pratique médical */
.pratique-medical-header{
    text-align: center;
    margin-bottom: 30px;
}
div.grille-pratique-medical{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
div.grille-pratique-medical article{
    background-color: #fff;
    padding: 30px 20px;
    line-height: 1.8;
    text-align: justify;
    box-shadow: 2px 4px 30px -11px rgba(20, 20, 91,0.4);
    -webkit-box-shadow: 2px 4px 30px -11px rgba(20, 20, 91,0.4);
    -moz-box-shadow: 2px 4px 30px -11px rgba(20, 20, 91,0.4);
    border-radius: 5px;
}
.div-en-savoir-plus{
    margin-top: 10px;
}
.div-en-savoir-plus .en-savoir-plus:link,
.div-en-savoir-plus .en-savoir-plus:active{
    text-decoration: none;
    color: rgb(20, 20, 91);
}
.div-en-savoir-plus .en-savoir-plus:visited{
    color: rebeccapurple;
}
.div-en-savoir-plus .en-savoir-plus:hover{
    text-decoration: underline;
}
.container-buttons-suivant{
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.container-buttons-suivant a{
    display: inline-block;
    width: 150px;
    padding: 10px;
    border: 2px solid rgb(13, 13, 63);
    color: rgb(13, 13, 63);
    
}
.container-buttons-suivant a:hover{
    background-color: rgb(13, 13, 63);
    color: #fff;
}

/* 
    Section communauté médical
*/
#section-communaute{
    margin: 40px 0;
}
#section-communaute h3,
#section-communaute p{
    color: #fff;
}
.container-grid-communaute{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    background-color: rgb(13, 13, 63);
}
.container-image-communaute{
    background-image: url(images/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container-contenu-communaute{
    line-height: 1.5;
    padding: 60px 30px;
}
.container-contenu-communaute .rouge-bordeau{
    text-align: left;
}
#section-communaute .buttons-section-communaute{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.buttons-section-communaute .reserver,
.buttons-section-communaute .contact{
    padding: 15px;
    border-radius: 3px;
}
.buttons-section-communaute .reserver{
    background-color: #fff;
    color: rgb(13, 13, 63);
}
.buttons-section-communaute .reserver:hover{
    background-color: rgb(23, 23, 109);
    color: #fff;
}
.buttons-section-communaute .contact{
    border: 2px solid #fff;
    color: #fff;
}
.buttons-section-communaute .contact:hover{
    background-color: #fff;
    color: rgb(13, 13, 63);
}
/* Lorsque l'écran fait 1080px ou moins, ce style est appliqué: */
@media (max-width: 1080px) {
    /* 
        Entete du site
    */
    header{
        display: block;
    }
    header nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
    }
    header .content-sousnav{
        width: 100%;
        position: absolute;
        top: 133px;
        left: 0;
        right: 0;
        background-color: #fff;
        display: none;
    }

    /* 
         Section accueil
    */
    #section-accueil{
        height: auto;
        padding: 60px 50px;
        background-image: url(images/fond.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
}

/* Lorsque l'écran fait 1000px ou moins, ce style est appliqué: */
@media (max-width: 1000px) {
    /* 
        Section accueil
    */
    #section-accueil div.div-principal{
        width: 70%;
        line-height: 1.6;
    }
}

/* Lorsque l'écran fait 950px ou moins, ce style est appliqué: */
@media (max-width: 950px) {
    /* Section pratique médical */
    #section-pratique-medical{
        padding: 100px 30px;
    }
    div.grille-pratique-medical{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    /* Aside */
    aside{
        height: auto;
        width: 50px;
        /* margin: auto; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        position: fixed;
        top: auto;
        bottom: 0;
        right: 0;
        /* right: 0; */
        overflow: hidden;
        z-index: 10;
        background-color: #fff;
        border: 3px solid rgb(13, 13, 63);
        padding: 10px;
        border-radius: 2px;
        transition: width 800ms;
        transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    aside:hover{
        width: 80%;
    }
    aside a{
        color: rgb(13, 13, 63);
    }
}

/* Lorsque l'écran fait 932px ou moins, ce style est appliqué: */
@media (max-width: 932px) {
    /* 
        Section examen de controle
    */
    #section-examen-controle{
        padding: 100px 30px;
        background-color: #fff;
    }
    div.container-principal-examens{
        width: auto;
        margin: auto;
        display: block;
        grid-template-columns: 100%;
        gap: 0;
        text-align: justify;
        
    }
    #section-examen-controle div.examen-controle-fond{
        width: 100%;
        padding: 100px;
        background-image: url(images/doctor.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .container-examens-header{
        width: 100%;
        margin-top: 20px;
    }
}

/* Lorsque l'écran fait 875px ou moins, ce style est appliqué: */
@media (max-width: 875px) {
    /* 
        Section accueil
    */
    #section-accueil{
        height: auto;
        padding: 60px 30px;
        background-image: url(images/fond.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #section-accueil div.div-principal{
        width: 100%;
        line-height: 1.6;
    }
    #section-accueil div.div-principal p{
        color: rgb(19, 19, 61);
    }
    /* 
        Section header
    */
    header nav{
        display: none;
    }
}

/* Lorsque l'écran fait 755px ou moins, ce style est appliqué: */
@media (max-width: 755px) {
    /* 
        Section communauté médical
    */
    .container-grid-communaute{
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        background-color: rgb(13, 13, 63);
    }
    .container-image-communaute{
        width: auto;
        padding: 100px;
    }
}

/* Lorsque l'écran fait 600px ou moins, ce style est appliqué: */
@media (max-width: 600px) {
    /* 
        Section examen de controle
    */
    .grille-examens{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 100%;
    }
}

/* Lorsque l'écran fait 650px ou moins, ce style est appliqué: */
@media (max-width: 650px) {
    /* Section pratique médical */
    #section-pratique-medical{
        padding: 100px 30px;
    }
    div.grille-pratique-medical{
        display: grid;
        grid-template-columns: 100%;
        gap: 30px;
    }
}

/* Lorsque l'écran fait 635px ou moins, ce style est appliqué: */
@media (max-width: 635px) {
    /* 
        Section accueil
    */
    #section-accueil{
        height: auto;
        padding: 70px 20px;
        background-image: url(images/fond.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    #section-accueil div.div-principal{
        width: 100%;
        line-height: 1.6;
        text-align: center;
    }
}

/* Lorsque l'écran fait 460px ou moins, ce style est appliqué: */
@media (max-width: 460px) {
    /* 
        Section communauté médicale
    */
    #section-communaute .buttons-section-communaute{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

/* Lorsque l'écran fait 444px ou moins, ce style est appliqué: */
@media (max-width: 444px) {
    /* 
        Section accueil
    */
    div.buttons-sectionaccueil{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    #section-accueil .contact{
        border: 2px solid rgb(13, 13, 63);
        color: rgb(13, 13, 63);
        margin-left: 0;
        padding: 13px;
    }
}